{% extends "base.html" %}
{% block title %}
    Medicamentos
{% endblock %}


{% block body %}
    <h1>Medicamentos</h1>

    <section id="grid" class="content-section" >
        <div class="row">
            {% for medicamento in medicamentos %}
                <a href="medicamento/{{medicamento.id}}/details/"
                <p> {{ medicamento.nome }} </p>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}