{% extends "base.html" %}

{% block title %}
    {% if slot %}
        Atualizar Módulo
    {% else %}
        Novo Módulo
    {% endif %}
{% endblock %}

{% block body %}
    {% if slot %}
        <h1>Atualizar Módulo</h1>
    {% else %}
        <h1>Novo Módulo</h1>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>

    {% if slot %}
        <br>
        <a href="{% url 'delete_slot' slot.id %}">Deletar</a>
    {% endif %}
{% endblock %}